<% provide(:title, "Home") %>



<div class="image-container box-border"></div>

<div id="main-content">

<div class="main-header font">Welcome to Account Hero. A <u>simple accounting solution</u> for self-employed driving instructors.

<div class="circle pointer"><i class="icon-arrow-down"></i></div>

</div>

</div>


















<% if false %>

<% if signed_in? %>

<div class="list">
<div class="list-header">
<%= link_to root_path, :class => "decoration-none" do %>
<div class="logo">
<b>Account Hero</b>
</div>
<% end %>
</div>
<div class="list-items">
<ul class="side-list">

    <li class="list-item"><a class="item main" name="all"><b>Full Year Overview</b><span class="icon-span"><i class="icon-briefcase"></i></span></a></li>

    <% @dates = (Date.today..(Date.today + 1.year)).to_a %>
    <% @date_months = @dates.map {|d| Date.new(d.year, d.month, 1) }.uniq %>
    <% @date_months.each do |month| %>
    <li class="list-item"><a class="item" name="<%= month.strftime('%Y%m%d') %>" id="<%= (month + 1.month).strftime('%Y%m%d') %>"><%= month.strftime("%B %Y") %><span class="icon-span"><i class=""></i></span></a></li>
    <% end %>
    
    <li class="list-item">
    <%= link_to pupils_path, :class => "link" do %>
    <b>Pupils</b>
    <span class="icon-span"><i class="icon-group"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Startup Expenses</b>
    <span class="icon-span"><i class="icon-credit-card"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Your Car</b>
    <span class="icon-span"><i class="icon-road"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Office / Computer Equipment</b>
    <span class="icon-span"><i class="icon-print"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>PAYE / Other Income</b>
    <span class="icon-span"><i class="icon-money"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Tax & National Insurance</b>
    <span class="icon-span"><i class="icon-warning-sign"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Year End Accounts</b>
    <span class="icon-span"><i class="icon-calendar"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to "#", :class => "link" do %>
    <b>Graphs</b>
    <span class="icon-span"><i class="icon-bar-chart"></i></span>
    <% end %>
    </li>
    
    <li class="list-item">
    <%= link_to '#', :class => "link" do %>
    <b>Settings</b>
    <span class="icon-span"><i class="icon-cogs"></i></span>
    <% end %>
    </li>
    
</ul>
</div>

<div class="logout"><%= link_to "Sign out", signout_path, method: "delete" %></div>
</div>

<div class="console">

<div class="navbar">
<div class="datebox" id="<%= params[:date] %>">Full Year Overview</div>
</div>

<div id="summary">
<%= render 'shared/summary_boxes' %>
</div>

<div id="income-form">
  <div class="main-header">
  Add Income
  </div>
  <div id="income-form-div" class="form-container">
  <%= render 'shared/income_form' %>
  </div>
</div>


<div id="main-incomes">
  <div class="main-header">
  Income
  <span class="icon-span"><i class=""></i></span>
  </div>
  <div id="incomes" class="table-container">
  <%= render 'shared/income_list' %>
  </div>

<div id="expense-form">
  <div class="main-header">
  Add Expense
  </div>
  <div id="expense-form-div" class="form-container expense-form">
  <%= render 'shared/expense_form' %>
  </div>
</div>

<div id="main-expenses">
  <div class="main-header">
  Expenses
  <span class="icon-span"><i class=""></i></span>
  </div>
  <div id="expenses" class="table-container">
  <%= render 'shared/expense_list' %>
  </div>
</div>

</div>

</div>

<% else %>

<div id="title-image"></div>

<% if false %>

<div id="login">

<div class="logo margin-left">Sign in to your account</div>

<div id="badge">AH</div>

</div>

<% end %>

<% if false %>

<div id="register"><div class="logo margin-left">New to Account Hero?</div>

<div class="logo margin-left down">Sign up</div>

<div id="badge">AH</div>

<div id="register-form" class="long">

<%= render 'users/newuserform' %>

</div>

</div>

<% end %>

<%= render 'shared/sidebar' %>

<div class="navbar">

<div id="signin-text">Sign In <i class="icon-chevron-down"></i></div>



</div>

</div>

<div id="explanation">

<div class="text-frame">

<div class="text-welcome">Welcome to Account Hero. A <u>simple accounting solution</u> for self-employed driving instructors.

<div class="circle"><i class="icon-arrow-down"></i></div>

</div>

</div>

<div class="picture-frame">

<div class="account-info basic">

<h1>Free</h1>

<h2 class="price">Completely free.</h2>

<div class="button active"> Create a free account </div>

</div>

<div class="account-info premium">

<h1>Premium Monthly</h1>

<h2 class="price">£12.50 / month</h2>

<div class="button disabled"> Coming soon.. </div>

</div>

<div class="account-info premium-one">

<h1>Premium Yearly</h1>

<h2 class="price">£125 / year</h2>

<div class="button disabled"> Coming soon.. </div>

</div>

</div>

</div>

<% end %>

<% end %>


